{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="page-body">
    <div class="container-xl">
    <div class="row g-4">
        <div class="col-3">
        <form action="/search" method="get" autocomplete="off" novalidate="">
            <div class="mb-3">
                <label class="form-label">Title</label>
                <input type="text" class="form-control" name="search" value="{{ queries['title'] }}">
            </div>
            <div class="mb-3">
                <label class="form-label">ISBN</label>
                <input type="text" class="form-control" name="isbn" value="{{ queries['isbn'] }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Genres</label>
                <input type="text" class="form-control" name="genres" value="{{ queries['genres'] }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Publish year</label>
                <div class="row g-2">
                    <select name="publishYear" class="form-select">
                        <option value="">Year</option>
                        {% for i in range(1900, 2024) %}
                            <option value="{{i}}" {% if queries['publishYear'] == i %} selected {% endif %}>{{i}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Authors</label>
                <input type="text" class="form-control" name="authors" value="{{ queries['authors'] }}">
            </div>
            <div class="mt-5">
            <button class="btn btn-primary w-100">
                Confirm changes and search
            </button>
            <a href="/search?title=" class="btn btn-link w-100">Reset to defaults</a>
            </div>
        </form>
        </div>
        <div class="col-9">
        <div class="row row-cards">
            {% for book in books %}
            <div class="col-sm-6 col-lg-4">
            <div class="card card-sm">
                <a href="/books/{{ book.getId() }}" class="d-block"><img src="{{ book.imageURL }}" class="card-img-top"></a>
                <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                    <div>{{ book.title }}</div>
                    <div class="text-secondary">{{ book.authors }}</div>
                    <div class="text-secondary">{{ book.publishYear|date('Y') }}</div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
