{% extends "base.html" %}

{% block title %}Loans{% endblock %}

{% block actions %}
<div class="col-auto ms-auto d-print-none">
  <div class="btn-list">
  {% if user and user.isAdmin() %}
    <!-- Loans -->
    <a href="/admin/loans/manage" class="btn btn-outline-warning d-none d-sm-inline-block">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
      View loans
    </a>
    <a href="/admin/loans/manage" class="btn btn-outline-warning d-sm-none btn-icon">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
    </a>

    <!-- Reservations -->
    <a href="/admin/loans/reservation/manage" class="btn btn-outline-warning d-none d-sm-inline-block">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
      View reservations
    </a>
    <a href="/admin/loans/reservation/manage" class="btn btn-outline-warning d-sm-none btn-icon">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
    </a>
  {% endif %}
  </div>
</div>
{% endblock %}

{% block content %}
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-vcenter card-table">
                      <thead>
                        <tr>
                          <th>Book</th>
                          <th>Start Date</th>
                          <th>Maximum Return Date</th>
                          <th>Actual Return Date</th>
                          <th>Status</th>
                          <th class="w-1"></th>
                          <th class="w-1"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for loan in loans %}
                            <tr>
                                <td>
                                    <div class="d-flex py-1 align-items-center">
                                        <span class="avatar me-2" style="background-image: url({{ loan.book.imageURL }})"></span>
                                        <div class="flex-fill">
                                            <div class="font-weight-medium text-reset" tabindex="-1">{{ loan.book.title }}</div>
                                            <div class="text-secondary">{{ loan.book.isbn }}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>{{ loan.begin.format('Y-m-d') }}</div>
                                </td>
                                <td>
                                    <div>{{ loan.getMaxReturnDate.format('Y-m-d') }}</div>
                                </td>
                                <td>
                                  <div>{% if not loan.isActive %}{{ loan.end.format('Y-m-d') }} ({{loan.getElapsedDays.format('%R%a')}} days){% endif %}</div>
                                </td>
                                <td>
                                    {% if not loan.isActive %}
                                      <span class="badge bg-secondary me-1"></span> Ended
                                    {% endif %}
                                    {% if loan.isActive() %}
                                      <span class="badge bg-success me-1"></span> Active
                                    {% endif %}
                                </td>
                                <td>
                                  {% if loan.isActive %}
                                    <a href="/loans/{{loan.id}}/end" class="text-danger">
                                      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-back-up"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 14l-4 -4l4 -4" /><path d="M5 10h11a4 4 0 1 1 0 8h-1" /></svg>
                                    </a>
                                  {% endif %}
                                  {% if not loan.isActive %}
                                    {% if loan.review != '' %}
                                    <span data-bs-toggle="tooltip" data-bs-placement="top" aria-label="{{ loan.review }}" data-bs-original-title="{{ loan.review }}">
                                      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-message"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9h8" /><path d="M8 13h6" /><path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z" /></svg>
                                    </span>
                                    {% else %}
                                    <a href="/loans/{{loan.id}}/review">
                                      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-message"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9h8" /><path d="M8 13h6" /><path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z" /></svg>
                                    </a>
                                    {% endif %}
                                  {% endif %}
                                </td>
                                <td>
                                    {% if loan.isActive() %}
                                    <span data-bs-toggle="tooltip" data-bs-placement="top" aria-label="{{ loan.review }}" data-bs-original-title="Postpone your loan.">
                                      <a href="/loans/{{loan.id}}/postpone" class="text-warning">
                                      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-repeat"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12.5 21h-6.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" /><path d="M16 3v4" /><path d="M8 3v4" /><path d="M4 11h12" /><path d="M20 14l2 2h-3" /><path d="M20 18l2 -2" /><path d="M19 16a3 3 0 1 0 2 5.236" /></svg>
                                    </a>
                                    </span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!-- Reservations -->
              {% if reservations %}
              <h2 class="page-title mt-3">Reservations</h2>
              <div class="col-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-vcenter card-table">
                      <thead>
                        <tr>
                          <th>Book</th>
                          <th>Requested Date</th>
                          <th>Estimated availability date</th>
                          <th>Availability</th>
                          <th class="w-1"></th>
                          <th class="w-1"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for reservation in reservations %}
                            <tr>
                                <td>
                                    <div class="d-flex py-1 align-items-center">
                                        <span class="avatar me-2" style="background-image: url({{ reservation.book.imageURL }})"></span>
                                        <div class="flex-fill">
                                            <div class="font-weight-medium text-reset" tabindex="-1">{{ reservation.book.title }}</div>
                                            <div class="text-secondary">{{ reservation.book.isbn }}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>{{ reservation.reservationDate.format('Y-m-d') }}</div>
                                </td>
                                <td>
                                  {% if not reservation.canBeLoaned() and reservation.book.getAvailability() > 0 %}
                                    <div>{{ reservation.book.getFirstAvailableReservationDate().format('Y-m-d') }}</div>
                                  {% elseif not reservation.canBeLoaned() and reservation.book.getAvailability() == 0 %}
                                    <div>You're the first in the queue but the book is currently out of stock.</div>
                                  {% else %}
                                    <div>Book can be loaned until tomorrow, hurry up!</div>
                                  {% endif %}
                                </td>
                                <td>
                                  <span class="badge bg-{% if reservation.book.getAvailability() == 0 %}danger{% else %}success{% endif %} me-1"></span> {{ reservation.book.getAvailability() }} available
                                </td>
                                <td>
                                  {% if reservation.canBeLoaned() %}
                                    <form action="/loans/book/{{ reservation.book.getId() }}/reserve/{{ reservation.getId() }}" method="post">
                                    <button type="submit" class="btn btn-link text-secondary">
                                      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-hand-grab"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 11v-3.5a1.5 1.5 0 0 1 3 0v2.5" /><path d="M11 9.5v-3a1.5 1.5 0 0 1 3 0v3.5" /><path d="M14 7.5a1.5 1.5 0 0 1 3 0v2.5" /><path d="M17 9.5a1.5 1.5 0 0 1 3 0v4.5a6 6 0 0 1 -6 6h-2h.208a6 6 0 0 1 -5.012 -2.7l-.196 -.3c-.312 -.479 -1.407 -2.388 -3.286 -5.728a1.5 1.5 0 0 1 .536 -2.022a1.867 1.867 0 0 1 2.28 .28l1.47 1.47" /></svg>
                                    </button>
                                    </form>
                                  {% endif %}
                                </td>
                                <td>
                                  <form action="/loans/book/{{ reservation.book.getId() }}/reserve/{{ reservation.getId() }}/cancel" method="post">
                                    <button type="submit" class="btn btn-link text-danger">
                                      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                                    </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
{% endblock %}
